<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anime List</title>
</head>
<body>
    <h1>Anime List</h1>
     <!-- 查询表单 -->
     <form action="{{ url_for('search_anime_title') }}" method="GET">
        <label for="search_query">Search Anime by Title:</label>
        <input type="text" id="search_query" name="search_query" required>
        <button type="submit">Search</button>
    </form>
    
    <form action="{{ url_for('search_anime_genre') }}" method="GET">
        <label for="search_query">Search Anime by genre:</label>
        <input type="text" id="search_query" name="search_query" required>
        <button type="submit">Search</button>
    </form>
    

    <ul>
        {% for anime in animes %}
            <li>
                <a href="{{ url_for('anime_detail', anime_id=anime.anime_id) }}">
                    {{ anime.title }} - {{ anime.genre }} - {{ anime.release_date }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}">Back to Main Page</a>
</body>
</html>
